.btn-contador {
    width: 20px;
    height: 19.2px;
    color: var(--primary);
    border: none;
    border-radius: 3px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.substract {
    background-color: var(--secondary);
    margin-right: 2px;
}
.add {
    background-color: var(--third);
    margin-left: 2px;
}