/* ----- ----- Estilos Generales ----- ----- */
main {
    padding: 0 30px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 10px;
    position: relative;
}

.grid_left-side {
    margin: 20px 0;
    padding: 0 10px;
    border: 2px solid rgba(169, 165, 165, 0.616);
    border-radius: 10px;
}

.grid_rigth-side {
    margin: 20px 0;
    padding: 0 10px;
    border: 2px solid rgba(169, 165, 165, 0.616);
    border-radius: 10px;
}

.sticky_container {
    position: sticky;
    top: 20px;
}

/* ----- ----- Media Querys ----- ----- */

@media screen and (max-width: 600px) {
    main {
        padding: 0 10px;
        grid-template-columns: 100%;
        column-gap: 0;
    }
    .sticky_container {
        position: relative;
    }
}